@model IEnumerable<OMS.Core.DTO.User>

@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

<p>
    @Html.ActionLink("Create New", "CreateEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.account.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account.Salt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.account.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account.Salt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
